/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL CSS RULES */

body {
    font-family: 'roboto', verdana;
    font-size: 12px;
}

ul li {
    list-style-type: none;
    text-transform: uppercase;
}

/* header */

header {
    background-color: #0c325a;
    height: 620px;
    color: #fff;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 60vh;
    background-position-y: 40vh;
    position: relative;
}

/* general rules for container */

.container {
    margin: auto;
    width:  85%;
}

/* FINE REGOLE DEL CONTAINER */

/* GENERAL CLASS CLEARFIX */

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.col {
    float: left;
}

header a {
    color: white;
}

header a:hover {
    color: #E65A15;
}

/* div #logo */

#logo.col {
    width: 15%;
    margin-top: 10px;
}

/* div #menu CENTRALE */

#menu.col {
    width: 45%;
}

#menu li {
    margin-top: 26px;
    text-align: center;
}

#menu a {
    margin-right: 16px;
    text-decoration: none;
}

/* div #menu stilizzato */

#menu-style.col {
    width: 40%;
}

#menu-style li {
    margin-top: 20px;
    text-align: right;
}

#menu-style a {
    margin-right: 16px;
    text-decoration: none;
}

#menu-style .style {
    padding: 5px 25px;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 5px;
}

#menu-style .style2 {
    padding: 6px 25px;
    display: inline-block;
    border-radius: 5px;
    background-color: #7cbb02;
}

#menu-style .style:hover {
    border-color: #E65A15;
}

#menu-style .style2:hover {
    background-color: #E65A15;
    color: white;
}



/* HERO SECTION */

.hero-section {
    position: absolute;
    top: 45%;
    left: 7.5%;
}

.hero-section h1 {
    font-size: 55px;
    width: 600px;
    font-weight: 500;
    line-height: 65px;
}

.hero-section a {
    margin-top: 40px;
    padding: 16px 14px;
    display: inline-block;
    border-radius: 3px;
    background-color: #7cbb02;
    text-decoration: none;
    text-transform: uppercase;
}

.hero-section a:hover {
    background-color: #E65A15;
    color: #fff;
}

/* SECTION GRIGIA */

.gray-area {
    background-color: #d3d3d3;
    color: #000;
    text-align: center;
    padding: 60px;
}

.gray-area h3 {
    font-size: 28px;
    font-weight: 500;
}

.gray-area p {
    color: #808080;
    font-size: 18px;
    margin-top: 10px;
}

/* main */

main .top-area {
    padding: 10px 0;
}

main .top-area .block {
    float: left;
    padding: 20px;
    width: 33%;
    color: #808080;
    text-align: center;
    margin: 50px 0;
}

main .top-area .block img {
    max-height: 100px;
}

main .top-area .block h3 {
    color: #7cbb02;
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
}

main .top-area .block p {
    font-size: 14px;
}

.hr {
    width: 50px;
    color: #808080;
    margin: 15px auto;
}

hr {
    border: 0.5px solid #d3d3d3;
    width: 97%;
    margin: auto;
}

/* main bottom area */

main .bottom-area .box {
    float: left;
    width: 50%;
    color: #000;
    padding: 50px;
}

main .bottom-area .box h2 {
    font-size: 32px;
    font-weight: 500;
}

main .bottom-area .box p {
    margin: 15px 0;
    font-size: 16px;
    color: #808080;
}

main .bottom-area .box a {
    color: #5586bc;
    font-size: 13px;
}

/* footer */

footer {
    padding: 60px 0;
    background-color: #d3d3d3;
    color: #000;
}

footer span {
    color: #808080;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}

footer .footer-boxes {
    float: left;
    width: 50%;
}

footer .footer-boxes h2 {
    font-size: 28px;
    font-weight: 500;
}

footer .footer-boxes li {
    display: inline-block;
    margin: 10px 30px 0 0;
}

footer .footer-boxes a {
   
    padding: 16px 14px;
    border-radius: 3px;
    background-color: #7cbb02;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

footer .footer-boxes a:hover {
    background-color: #E65A15;
}

#piano {
    font-weight: 400;
    font-size: 16px;
    color: #808080;
    background-color: #d3d3d3;
    border: none;
    border-bottom: .5px solid rgba(0, 0, 0, .1);
}

/* button help style */

.help {
    position: fixed;
    bottom: 0;
    right: 259px;
    padding: 15px 20px;
    border-radius: 2px;
    background-color: #7cbb02;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.help:hover {
    background-color: #E65A15;
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
}




